[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = {version = "*"}
coverage = {version = "*"}
pylint = "*"
rope = "*"

[packages]
flask = "*"
flask-pymongo = "*"
gunicorn = "*"
flask-babel = "*"
libsass = "*"
python-dateutil = "*"
flask-login = "*"
flask-wtf = "*"
flask-bcrypt = "*"

[requires]
python_version = "3.7"
