
html, body {
    background-color: #c9c9c9;
}

.root {
    min-height: 100vh;
}

.top-bar {
    a {
        color: $white;
    }
}

.main {
    background-color: $white;
    padding: 0rem;
    min-height: 60vh;
    header {
        padding: 1rem;
    }
    .content {
        padding: 1rem;
    }
}

.main-footer {
    background-color: $secondary-color;
    min-height: 10vh;
}