@import 'foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-button;
@include foundation-table;
@include foundation-card;
@include foundation-breadcrumbs;
@include foundation-callout;

@import 'custom-checkbox';

ul.grid-x, ul.cell {
    margin: 0;
}

button.stretch, input.stretch {
    display: block;
    width: 100%;
}

form.registration {
    section {
        @include card-container($border:0);

        @for $index from 1 through 6 {
            h#{$index} {
                @include card-divider;
            }
        }
        .field-collection {
            @include card-section;
        }
    }
}

.form-field {
    margin-bottom: 2rem;

    ul {
        margin: 0;
    }
    li {
        list-style-type: none;
    }
    .heading {
        label {
            font-size: 100%;
            font-weight: 600;
        }
    }
    input, select {
        margin-bottom: 0rem;
    }
    .description {
        font-size: 80%;
        color: $dark-gray;
        font-style: italic;
        margin-bottom: 0.2rem;
    }
}

.signup {
    li {
        list-style-type: none;
        display: block;
        height: 50px;
        text-align: center;
        color: #777;
    }        
}

.date-range-selector {
    ul, li, label {
        margin: 0;
    }

    .calendar {
        @include xy-grid;
            
        li {
            list-style-type: none;
            text-align: center;
        }
    }
}