@import 'foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

.date-range-selector .days {
    li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        height: 50px;
        text-align: center;
        margin-bottom: 5px;
        color: #777;
    }
    .container {
        display: block;
        position: relative;
        height: 100%;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .container label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #eee;
    }
    .container:hover label {
        background-color: #ccc;
    }
    .container input:checked ~ label {
        background-color: #2196F3;
    }
}