@import 'foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-button;
@include foundation-table;

@import 'custom-checkbox';

ul.grid-x, ul.cell {
    margin: 0;
}

button.stretch, input.stretch {
    display: block;
    width: 100%;
}

.form-field {
    ul {
        margin: 0;
    }
    li {
        list-style-type: none;
    }
}

.signup {
    li {
        list-style-type: none;
        display: block;
        height: 50px;
        text-align: center;
        color: #777;
    }        
}

.date-range-selector {
    ul, li, label {
        margin: 0;
    }

    .calendar {
        @include xy-grid;
            
        li {
            list-style-type: none;
            text-align: center;
        }
    }
}