<!doctype html>
<title>{% block title %}{% endblock %} - Supermamas</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.scss.css') }}">
<script src='https://www.google.com/recaptcha/api.js'></script>
<nav>
  <h1><a href="{{ url_for('index') }}">Supermamas</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('accounts.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('accounts.register_bubble_mama_intro') }}">Register</a>
      <li><a href="{{ url_for('accounts.login') }}">Log In</a>
    {% endif %}
  </ul>
  <div id="status">
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>