{% import "forms.html.j2" as forms %}

{% macro signup(available_dates, signups, current_signup) -%}
<div class="signup">
<ul class="grid-x">

    <ul class="cell header small-3 medium-2">
        <li>{% trans %}Date{% endtrans %}</li>
    {% for signup in signups %}
        <li>{{ signup.helping_mama.first_name }}</li>
    {% endfor %}
        <li>{{ current_signup.helping_mama.first_name }}</li>
    </ul>

{% set ordered_dates = available_dates|dictsort %}
{%- for date in ordered_dates %}
    {% set name = date|first %}
    {% set value = available_dates[name] %}
    {% set is_selected = name in current_signup.availabilities %}
    <ul class="cell small-3 medium-2">
        <li>{{ value.date_label }}</li>
    {% for signup in signups %}
        {% set is_available = name in signup.availabilities %}
        <li>{{ "&check;" if is_available else "-" }}</li>
    {% endfor %}
        <li>{{ forms.checkbox(name, is_selected, group="availabilities[]") }}</li>
    </ul>
{%- endfor %}
</ul>
</div>
{%- endmacro %}