{% macro input(name, label="", value="", type="text", errors={}, values={}, flags={}) -%}
    {% set invalid = "invalid" if name in errors else "" %}
    {% set value = values[name] if name in values else value  %}
    {% set required = "required" if "required" in flags else "" %}
    <label for="{{ name }}" class="{{ invalid }}">{{ label }}</label>
    <input name="{{ name }}" id="{{ name }}" type="{{ type }}" value="{{ value }}" class="{{ invalid }}" {{ required }}/>
{%- endmacro %}

{% macro date_selector(name, group="dates", value="", values=None) -%}
    {% set value = values[name] if name in values else value %}
    {% set checked = "checked" if value.selected %}
    <div class="container">
        <input name="{{ group }}" id="{{ name }}" type="checkbox" value="{{ name }}" {{ checked }} />
        <label for="{{ name }}">{{ value.label }}</label>
    </div>
{%- endmacro %}

{%- macro submit(value, name="", class="") -%}
    <input type="submit" class="button success submit {{ class }}" value="{{ value }}" name="{{ name }}" /> 
{%- endmacro %}

{%- macro final_submit(value, name="", class="") -%}
    <div class="flex-container flex-dir-row-reverse">
        <div class="flex-child-shrink">
            {{ submit(value, name, class) }}
        </div>
    </div>
{%- endmacro %}

{%- macro checkbox(name, is_checked=False, group="") -%}
    {% set checked = "checked" if is_checked %}
    <div class="custom-checkbox">
        <div class="container">
            <input name="{{ group }}" id="{{ name }}" type="checkbox" value="{{ name }}" {{ checked }} />
            <label class="checkmark" for="{{ name }}"></label>
        </div>
    </div>
{%- endmacro %}

{% macro render_field_errors(errors) %}
    {% if errors %}
        <ul class=errors>
        {% for error in errors %}
            <li>{{ errors[error]|first if errors is mapping else error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro render_required_label(field) %}
    {% if "required" in field.flags %}
    <span class="required">*</span>
    {% endif %}
{% endmacro %}

{% macro render_field(field) %}
    <div class="form-field">
    {{ field.label | debug }}
    {% if "BooleanField" in field.type %}
        <dt>
        {% if field.heading %}
            <div class="heading">{{ field.heading }}</div>
        {% endif %}
        {% if field.description %}
            <p class="help-text">{{ field.description }}</p>
        {% endif %}
        </dt>
        <dd>
            {{ field(**kwargs)|safe }} {{ field.label }}{{ render_required_label(field) }}
            {{ render_field_errors(field.errors) }}
        </dt>
    {% else %}
        <dt>
            <div class="heading">{{ field.label }}{{ render_required_label(field) }}</div>
        {% if field.description %}
            <p class="help-text">{{ field.description }}</p>
        {% endif %}
        </dt>
        <dd>
            {{ field(**kwargs)|safe }}
            {{ render_field_errors(field.errors) }}
        </dd>
    {% endif %}
    </div>
{% endmacro %}

{% macro recaptcha() %}
    <div class="g-recaptcha" data-sitekey="{{ 'RECAPTCHA_SITE_KEY' | config }}"></div>
{% endmacro %}