{% macro input(name, label="", value="", type="text", errors={}, values={}, flags={}) -%}
    {% set invalid = "invalid" if name in errors else "" %}
    {% set value = values[name] if name in values else value  %}
    {% set required = "required" if "required" in flags else "" %}
    <label for="{{ name }}" class="{{ invalid }}">{{ label }}</label>
    <input name="{{ name }}" id="{{ name }}" type="{{ type }}" value="{{ value }}" class="{{ invalid }}" {{ required }}/>
{%- endmacro %}

{% macro date_selector(name, group="dates", value="", values=None) -%}
    {% set value = values[name] if name in values else value %}
    {% set checked = "checked" if value.selected %}
    <div class="container">
        <input name="{{ group }}" id="{{ name }}" type="checkbox" value="{{ name }}" {{ checked }} />
        <label for="{{ name }}">{{ value.label }}</label>
    </div>
{%- endmacro %}

{%- macro submit(value, name="", class="") -%}
    <input type="submit" class="button success {{ class }}" value="{{ value }}" name="{{ name }}" /> 
{%- endmacro %}

{%- macro checkbox(name, is_checked=False, group="") -%}
    {% set checked = "checked" if is_checked %}
    <div class="custom-checkbox">
        <div class="container">
            <input name="{{ group }}" id="{{ name }}" type="checkbox" value="{{ name }}" {{ checked }} />
            <label class="checkmark" for="{{ name }}"></label>
        </div>
    </div>
{%- endmacro %}