{% extends "base.html.j2" %}

{% import "forms.html.j2" as forms %}

{% block header %}
<h1>{% trans %}Register{% endtrans %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {{ forms.input("first_name", label=_("First name"), errors=form_errors, values=form_values, flags=["required"]) }}
    {{ forms.input("last_name", label=_("Last name"), errors=form_errors, values=form_values, flags=["required"]) }}
    {{ forms.submit(_("Register")) }}
</form>
{% endblock %}
