{% extends "base.html.j2" %}

{% import "forms.html.j2" as forms %}

{% block header %}
<h1>{% trans %}Register{% endtrans %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {{ forms.render_field(form.email) }}
    {{ forms.render_field(form.password) }}
    {{ forms.render_field(form.verify_password) }}
    {{ forms.render_field(form.first_name) }}
    {{ forms.render_field(form.last_name) }}
    {{ forms.render_field(form.district) }}
    {{ forms.recaptcha() }}
    {{ forms.submit(_("Register")) }}
</form>
{% endblock %}
