{% extends "base.html.j2" %}

{% import "forms.html.j2" as forms %}
{% import "accounts/registration/navigation.html.j2" as navigation %}

{% block header %}
{{ navigation.breadcrumbs(breadcrumbs.steps) }}
<h1>{% trans %}Pampering{% endtrans %}</h1>
{% endblock %}

{% macro pampering_type_selection_row(label, description) %}
    <tr>
        <th>{{ label }}</th>
        <td>{{ description }}</td>
    </tr>
{% endmacro %}

{% block content %}
<form method="post" class="registration">
    <section>
        <h2>{% trans %}What type of pampering are you looking for?{% endtrans %}</h2>
        <div class="field-collection">
            <p>
                {% trans %}Please choose from one of the following pampering options
                that best describes your situation.{% endtrans %}
                <table>
                    <tbody>
                        {{ pampering_type_selection_row(_("Standard pampering"), _("You are still pregnant but want to register in advance. The pampering will occur during the first 3 months after birth, duration approx. 3 weeks."))}}
                        {{ pampering_type_selection_row(_("Pre-pampering"), _("In case of risk of premature birth/mandatory bed rest."))}}
                        {{ pampering_type_selection_row(_("Belated pampering"), _("Your baby is already born and less than 3 months old."))}}
                        {{ pampering_type_selection_row(_("Emergency pampering"), _("In case of PPD, loss or handicap"))}}
                        {{ pampering_type_selection_row(_("Support for single mothers"), _("You are a single mother with one or more babies or toddlers. If you are pregnant or your baby is less than 3 months old, please choose from the other pamperings and let us know that you are single in the \"family situation\" section."))}}
                    </tbody>
                </table>
            </p>
            {{ forms.render_field(form.pampering_type) }}
        </div>
    </section>
    {{ forms.submit(_("Next")) }}
</form>
{% endblock %}
