{% extends "accounts/registration/city_selection.html.j2" %}

{% block city_selection_description %}
<p>
    {% trans %}Supermamas are based in the following cities. Please select
    the one in which you would like to register as a HelpingMama.
    {% endtrans %}
</p>
{% endblock %}