{% extends "base.html.j2" %}

{% import "forms.html.j2" as forms %}
{% import "calendar.html.j2" as calendar %}

{% block header %}
<h1>{% trans %}Create pampering{% endtrans %}</h1>
{% endblock %}

{% block content %}
<form class="create-pampering" method="post">

    <section>
        <h2>{% trans %}BubbleMama information for HelpingMamas{% endtrans %}</h2>
        <div class="field-collection">
            <p>
                {% trans %}These details will be shared with every HelpingMama who considers
                signing up for a pampering. If there is something that should obviously not
                be shared, please edit it before creating the pampering.{% endtrans %}
            </p>
            {{ forms.render_field(form.bubble_mama_name) }}
            {{ forms.render_field(form.family_situation) }}
            {{ forms.render_field(form.food_allergies) }}
            {{ forms.render_field(form.diet_restrictions) }}
            {{ forms.render_field(form.languages) }}
            {{ forms.render_field(form.personal_message) }}
            {{ forms.render_field(form.nearby_poi) }}
        </div>
    </section>

    <section>
        <h2>{% trans %}Available pampering dates{% endtrans %}</h2>
        <div class="field-collection">
            <div class="grid-x grid-margin-x align-middle">
                <div class="cell small-6 medium-4">
                    {{ forms.render_field(form.start_date) }}
                </div>
                <div class="cell small-6 medium-4">
                    {{ forms.render_field(form.end_date) }}
                </div>
                <div class="cell small-12 medium-4">
                    {{ forms.submit(_("Refresh dates"), name="refresh_dates") }}
                </div>
            </div>

            {{ forms.render_field(form.available_dates, class="date-selector small-up-7") }}
        </div>
    </section>
    
    {{ forms.final_submit(_("Create"))}}
</form>
{% endblock %}
