<html>
<body>
    <p>
        We are arranging a pampering for {{ name }} and are looking for HelpingMamas to join.
        If you are interested, <a href="{{ signup_link }}">click here to sign up!</a>.
    </p>
    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <th>District</th>
                <td>{{ district }}</td>
            </tr>
            <tr>
                <th>Nearby</th>
                <td>{{ nearby }}</td>
            </tr>
            <tr>
                <th>Languages</th>
                <td>{{ languages }}</td>
            </tr>
            <tr>
                <th>Family situation</th>
                <td>{{ family_situation }}</td>
            </tr>
            <tr>
                <th>Food allergies</th>
                <td>{{ food_allergies }}</td>
            </tr>
            <tr>
                <th>Diet restrictions</th>
                <td>{{ diet_restrictions }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ message }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>